lims-integration/src/test/resources/ab/lims/test/msg/lpl/orders.update.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Zip">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="111111"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TubeType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EDTA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TubeCount">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TissueType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Peripheral Blood"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TestOID">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="3051899"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TestCollectionTime">
		<xs:complexType/>
	</xs:element>
	<xs:element name="TestCollectionDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2015-02-05"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Street">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bla"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StoredSpecimenRetreivalDate">
		<xs:complexType/>
	</xs:element>
	<xs:element name="State">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SpecimenType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Fresh Peripheral Blood"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Soundex">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="WILMSLRN"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Sex">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="M"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SequentaOrders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Order"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SSN">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="11111111"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResolvedTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="19:13"/>
				<xs:enumeration value="19:14"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResolvedDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2015-02-09"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResolvedBy">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BrehmerV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequisitionNumber">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="202547"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Receptors">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DEFAULT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReceivedMaterial">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="USER FIELD TBD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReceivedDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2015-02-07"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Questions">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PlacerMedicalRecordNumber1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PlacerMedicalRecordNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Phone">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PatientIndex">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="181"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PatientIDStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MRD testing recommended"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Patient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Sex"/>
				<xs:element ref="Street"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="Zip"/>
				<xs:element ref="Phone"/>
				<xs:element ref="Soundex"/>
				<xs:element ref="PatientIndex"/>
				<xs:element ref="DOB"/>
				<xs:element ref="SSN"/>
				<xs:element ref="OrderID"/>
				<xs:element ref="PatientIDStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="UPDATE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderTime">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="10:34"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderStatus">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Open"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderSource">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OrderPriority">
		<xs:complexType/>
	</xs:element>
	<xs:element name="OrderOID">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="3051898"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderMD1Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Miklos MD PhD, David B "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderMD1">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1011"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderID">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="3051898"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderGroup">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="1017"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderDate">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="2015-02-07"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderType"/>
				<xs:element ref="OrderID"/>
				<xs:element ref="ReceivedDate"/>
				<xs:element ref="CollectionDate"/>
				<xs:element ref="OrderStatus"/>
				<xs:element ref="ClinicalInformation"/>
				<xs:element ref="OrderPriority"/>
				<xs:element ref="OrderMD1"/>
				<xs:element ref="OrderMD1Name"/>
				<xs:element ref="OrderGroup"/>
				<xs:element ref="RequisitionNumber"/>
				<xs:element ref="OrderDate"/>
				<xs:element ref="OrderTime"/>
				<xs:element ref="ICDS"/>
				<xs:element ref="Creator"/>
				<xs:element ref="PlacerMedicalRecordNumber"/>
				<xs:element ref="TubeCount"/>
				<xs:element ref="ReceivedMaterial"/>
				<xs:element ref="OrderOID"/>
				<xs:element ref="TubeType"/>
				<xs:element ref="StoredSpecimenRetreivalDate"/>
				<xs:element ref="TissueType"/>
				<xs:element ref="SpecimenType"/>
				<xs:element ref="NPI"/>
				<xs:element ref="PlacerMedicalRecordNumber1"/>
				<xs:element ref="OrderSource"/>
				<xs:element ref="Patient"/>
				<xs:element ref="ClinicalTest"/>
				<xs:element ref="Holds" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Joe, Doe"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NPI">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="1982751053"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ICDS">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="208.8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Holds">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderID"/>
				<xs:element ref="HoldCode"/>
				<xs:element ref="HoldDescription"/>
				<xs:element ref="HoldType"/>
				<xs:element ref="ResolvedBy"/>
				<xs:element ref="ResolvedDate"/>
				<xs:element ref="ResolvedTime"/>
				<xs:element ref="Comments"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HoldType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="External"/>
				<xs:enumeration value="Internal"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HoldDescription" type="xs:string"/>
	<xs:element name="HoldCode">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="400"/>
				<xs:enumeration value="502"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DiseaseType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="T Cell Large Granular Leukemia"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DOB">
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:enumeration value="1941-01-15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Creator">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SEQWOLFC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Compartment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cellular"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Comments" type="xs:string"/>
	<xs:element name="CollectionDate">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ClinicalTestCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="MRD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClinicalTest">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ClinicalTestCode"/>
				<xs:element ref="TestCollectionDate"/>
				<xs:element ref="TestCollectionTime"/>
				<xs:element ref="Questions"/>
				<xs:element ref="TestOID"/>
				<xs:element ref="OrderID"/>
				<xs:element ref="TissueType"/>
				<xs:element ref="SpecimenType"/>
				<xs:element ref="TubeType"/>
				<xs:element ref="StoredSpecimenRetreivalDate"/>
				<xs:element ref="TubeCount"/>
				<xs:element ref="DiseaseType"/>
				<xs:element ref="Receptors"/>
				<xs:element ref="Compartment"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ClinicalInformation">
		<xs:complexType/>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Petaluma"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
